*{
	margin: 0;
	padding: 0;
}
body{
	background-color: lightgray;
}
.container{
	width: 1350px;
	background-color:#fff;
	margin: 0 auto;
}
.tozalash{
	clear: both;
}
.block1{
	height: 680px;
	background-image: url("images/desktop/image-header.jpg");
	background-size: 1350px 100%;
}
.header{
	padding-top:40px;
}
.header .logo{
	float: left;
	margin-left:30px;
}
.header .logo .logo-img{
	color: white;
	text-decoration: none;
	font-size: 25px;
	font-family: 'Fraunces';
	font-weight: bold;
}

.header nav{
	float: right;
}
.header nav ul{
	list-style: none;
}
.header nav ul li{
	margin-right:40px;
	float: left;
}
.header nav ul li a{
	color: white;
	text-decoration: none;
	font-size: 20px;
}
.header nav ul li .active{
	color: black;
	background-color: white;
	font-size: 20px;
	padding: 15px;
	border-radius: 30px;
	text-transform: uppercase;
	font-weight: bold;
}
.header .logo .threeline{
	display: none;
	float: right;
}
.creative{
	margin-top: 55px;
	text-align: center;
	color: white;
	font-family: 'Fraunces';
	font-size: 60px;
	text-transform: uppercase;
	letter-spacing: 10px;
	font-weight: bold;
}
.icon-arrow-down{
	text-align: center;
	display: block;
	margin-top: 85px;
}
.left, .right{
	width: 675px;
	height: 546px;
	float: left;
}
.inner{
	width: 380px;
	margin: 140px auto;
}
.inner .inner_title{
	font-family: 'Fraunces';
	font-size: 45px;
	font-weight: bold;
}
.inner .inner_text{
	font-family: 'Barlow';
	margin-top: 40px;
	color: gray;
}
.inner .inner_link{
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
	margin-top: 40px;
	box-shadow: 0 10px 10px yellow;
	border-radius: 10px;
	border-bottom: 10px solid yellow;
}
.block2 .right{
	background-image: url("images/desktop/image-transform.jpg");
}
.block3 .left{
	background-image: url("images/desktop/image-stand-out.jpg");
}
.block4 .left{
	background-image: url("images/desktop/image-graphic-design.jpg");
}
.block4 .right{
	background-image: url("images/desktop/image-photography.jpg");
}
.block4 .block4_inner{
	width: 340px;
	text-align: center;
	margin: 400px auto;
}
.block4 .block4_inner h4{
	font-size: 30px;
	font-weight:bold;
	font-family: 'Fraunces';
	color:  hsl(167, 40%, 24%);
}
.block4 .block4_inner h6{
	margin-top: 20px;
	font-size: 15px;
	font-family: 'Barlow';
	color:  hsl(167, 40%, 24%);
}
.block4 .block4_inner h3{
	font-family: 'Fraunces';
	font-size: 30px;
	font-weight: bold;
	color: hsl(198, 62%, 26%);
}
.block4 .block4_inner p{
	margin-top: 20px;
	font-size: 15px;
	font-family: 'Barlow';
	color: hsl(198, 62%, 26%);	
}
.block5 .block5_card{
	width: 1100px;
	margin: 150px auto;
}
.block5 .block5_card .block5_title{
	width: 430px;
	margin: 25px auto;
/*	text-align: center;*/
	font-size: 20px;
	letter-spacing: 5px;
	font-family: 'Fraunces';
	text-transform: uppercase;
	color: hsl(232, 10%, 55%);
}
.block5 .block5_card .block5_in_card .card_logo img{
	width: 60px;
	height: 60px;
	margin-top:40px;
	border-radius: 100%;
}

.block5 .block5_card .block5_in_card{
/*	margin-top:50px;*/
	width: 325px;
	float: left;
	margin: 20px;
	text-align: center;
}
.block5 .block5_card .block5_in_card .card_text{
	margin-top: 50px;
	font-family: 'Barlow';
	color: gray;
}
.block5 .block5_card .block5_in_card .card_author{
	color: black;
	font-weight: bold;
	font-size: 20px;
	margin-top: 80px;
	font-family: 'Fraunces';
}
.block5 .block5_card .block5_in_card .card_direction{
	color: gray;
	font-size: 13px;
	margin-top: 10px;
	font-family: 'Barlow';
}
.block6 .block6_inner .rasmlar img{
	width: 337px;
	float: left;
}
.block7 .block7_inner{
	height: 300px;
	background-color: hsl(168, 34%, 41%);
}
.block7 .block7_inner .sunny{
	text-align: center;
	padding-top: 60px;
	color:hsl(167, 40%, 24%);
	font-size: 35px;
	font-weight: bold;
} 
.block7 .block7_inner .uchtasibitta{
	width: 305px;
	margin: 10px auto;
}
.block7 .block7_inner .uchtasibitta h5{
	font-family: 'Barlow';
	color:hsl(212, 27%, 19%);
	float: left;
	margin: 25px;
	font-size: 15px;
}
.block7 .block7_inner .uchtasibitta h5:hover{
	color: white;
}
.block7 .block7_inner .programms{
	width: 160px;
	margin:40px auto;
/*	border: 1px solid black*/
}
.block7 .block7_inner .programms ul{
	list-style: none;
}
.block7 .block7_inner .programms ul li{
	margin-right:20px;
	float: left;
}
.block7 .block7_inner .programms ul li a{
	text-decoration: none;
}




@media screen and (max-width:1200px){
	.container{
		width: 375px;
	}
	.block1{
		background-image: url("images/mobile/image-header.jpg");
		background-repeat: no-repeat;
		background-size: 375px 550px;
}
	.header{
	   padding-top: 10px;
}
	.header nav ul li{
		display: none;	
	}
	.logo{
/*		border: 1px solid black;*/
	}
	.header .logo .threeline{
		display: block;
		margin-top: 10px;
		margin-left:170px;
}
	.block1{
		height:550px;
	}
	.block1 .creative{
		margin-top:85px;
		font-size: 35px;
	}
	.block2 .left{
		width:	375px;
		height: 400px;
	}
	.block2 .right{
		width:	375px;
		height: 300px;
	}
	.block2 .right{
		background-image: url("images/mobile/image-transform.jpg");
		background-size: 375px 300px;
		background-repeat: no-repeat;
}
	.block2 .left .inner, .block3 .right .inner{
		width: 300px;
		height: 270px;
		margin-top: 60px;
		text-align: center;
	}
	.inner .inner_title, .block3 .right .inner .inner_title{
		font-size: 35px;
}
	.block3 .left{
		width: 375px;
		height: 300px;
	}
	.block3 .left{
		background-image: url("images/mobile/image-stand-out.jpg");
		background-size: 375px 300px;
		background-repeat: no-repeat;
}
	.block3 .right{
		width:	375px;
		height: 400px;
	}
	.block4 .left, .right{
		width: 375px;
		height: 520px;
	}
	.block4 .left{
		background-image: url("images/mobile/image-graphic-design.jpg");
		background-repeat: no-repeat;
		background-size: 375px 520px;
}
	.block4 .block4_inner{
		width: 320px;
		margin-top: 350px;
		margin-left: 20px;
}
	.block4 .right{
		background-image: url("images/mobile/image-photography.jpg");
		background-repeat: no-repeat;
		background-size: 375px 520px;
}
	.block5 .block5_card{
		width: 375px;
}
	.block5 .block5_card .block5_title{
		width: 300px;
		margin-left: 40px;
		font-size: 15px;
}
	.block5 .block5_card .block5_in_card{
		
		float: none;
	}
	.block6 .block6_inner .qator1, .qator2{
		width: 375px;
}
	.block6 .block6_inner .qator1 img{
		width: 187.5px;
	}
	.block6 .block6_inner .qator2 img{
		width: 187.5px;
	}

	
}

